@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
  }
  body::-webkit-scrollbar {
    display: none;
  }
  :root {
    --main-color: #008148;
    --second-color: #1e3932;
    --third-color: #ebdbc8;
  }
  *::selection {
    color: #fff;
    background: var(--main-color);
  }
  section {
    padding: 50px 10%;
  }
  img {
    width: 100%;
  }
  p {
    font-size: 18px;
    line-height: 2rem;
  }
  header {
    position: sticky;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    box-shadow: 0 4px 41px rgba(14, 55, 54, 0.15);
    padding: 15px 5%;
    transition: 0.2s;
  }
  .logo {
    display: flex;
    align-items: center;
  }
  .logo {
    display: flex;
    align-items: center;
  }
  .navbar {
    display: flex;
  }
  .navbar a {
    font-size: 1rem;
    padding: 11px 20px;
    color: var(--second-color);
    text-transform: uppercase;
    font-weight: 600;
  }
  .navbar a:hover {
    color: var(--main-color);
  }
  .home {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: var(--third-color);
    gap: 1rem;
  }
  .home-text {
    flex: 1 1 17rem;
  }
  .home-img {
    flex: 1 1 17rem;
  }
  .home-img img {
    animation: animate 3s linear infinite;
  }
  @keyframes animate {
    0% {
      transform: translate(-11px, 0);
    }
    50% {
      transform: translate(0px, -11px);
    }
    100% {
      transform: translate(-11px, 0);
    }
  }
  .home-text span {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--second-color);
  }
  .home-text h1 {
    font-size: 3.2rem;
    color: var(--main-color);
    font-weight: bolder;
  }
  .home-text h2 {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--second-color);
    text-transform: uppercase;
    margin: 0.5rem 0 1.4rem;
  }
  .btn {
    padding: 7px 16px;
    border: 2px solid var(--second-color);
    border-radius: 40px;
    color: var(--second-color);
    font-weight: 500;
    transition: 100ms;
  }
  .btn:hover {
    color: #fff;
    background: var(--second-color);
  }
  
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .social {
    display: flex;
    margin: 0;
    padding: 0;
  }
  .social li {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .social li a {
    margin-left: 20px;
    padding: 8px 8px 4px 8px;
    background: #000;
    border-radius: 50%;
    transition: all 0.2s ease-out;
  }
  .social li a:hover {
    box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1);
  }
  .social li a i {
    color: #fff;
    font-size: 27px;
  }
  .links {
    margin: 1rem 0 1rem;
  }
  .links a {
    color: var(--second-color);
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem;
  }
  .links a:hover {
    text-decoration: underline;
  }
  .contact p {
    text-align: center;
  }